@font-face {
    font-family: newFont;
    src: url('../fonts/SF-Compact-Text-Medium.otf');
}
.business-analyst-classes .banner {
    background: #0dbfff;
    padding: 12.5% 20%;
}
.business-analyst-classes .banner p  {
    text-align: left;
    color: white;
    font-size: 17pt;
    line-height: 40px;
    font-family: newFont;
}
.business-analyst-classes .banner p#title {
    font-size: 50pt;
    margin-bottom: 5%;
}
.business-analyst-classes .banner p#description {
    margin-top: 2%;
}
.business-analyst-classes .banner p span#red {
    color: #ec2e2e;
}
.business-analyst-classes .banner p mark {
    background: #ec2e2e;
    color: white;
}
.business-analyst-classes .banner button#get-class {
    padding: 1% 2%;
    border: 1px solid white;
    border-radius: 10px;
    background: white;
    position: absolute;
    margin-top: 2.5%;
    margin-left: -30%;
    font-size: 12pt;
    font-weight: bold;
    cursor: pointer;
}
.business-analyst-classes .banner button#get-class:hover {
    background: #0dbfff;
    color: white;
}
.business-analyst-classes .classes {
    padding: 10% 20%;
}
.business-analyst-classes .classes .title {
    border-bottom: 2.5px solid #0dbfff;
    text-align: center;
    margin-left: 35%;
    width: 30%;
    padding-bottom: 2%;
}
.business-analyst-classes .classes .title p#title {
    color:#ec2e2e;
    font-size: 40pt;
    font-family: newFont;
    font-weight: bold;
}
.business-analyst-classes .classes .classes-description {
    margin-top: 5%;
}
.business-analyst-classes .classes .classes-description p#description {
    font-size: 16pt;
    font-family: newFont;
}
.business-analyst-classes .business-analyst {
    border:2.5px solid #0dbfff;
    border-radius: 10px;
    margin-left: 17%;
    width: 20%;
    padding: 1% 0 0 0;
    margin-bottom: 5%;
}
.business-analyst-classes .business-analyst p {
    text-align: left;
    font-family: newFont;
}
.business-analyst-classes .business-analyst .image {
    border-bottom: 2.5px solid #0dbfff;
}
.business-analyst-classes .business-analyst .image img#business {
    width: 90%;
    margin:4.5% 0;
}
.business-analyst-classes .business-analyst .description {
    padding: 8% 5%;
}
.business-analyst-classes .business-analyst .description p#title {
    margin-bottom: 10%;
    margin-top: 2%;
    font-weight: bold;
}
.business-analyst-classes .business-analyst .description p#description {
    font-size:22pt;
    color:#ec2e2e;
}
.business-analyst-classes .business-analyst .description p#date  {
    margin-top: 10.2%;
    font-weight: bold;
}
.business-analyst-classes .business-analyst .description .limit-seat p#seat  {
    font-size: 9.5pt;
    text-align: center;
    color:#ec2e2e;
}
.business-analyst-classes .business-analyst .description .limit-seat {
    margin-left: 30%;
    margin-top: -16%;
    width: 60%;
    padding-bottom: 1%;
    border-bottom: 1px solid black;
}
.business-analyst-classes .business-analyst .description .price {
    margin-left: 30%;
    width: 60%;
    margin-top: 2%;
}
.business-analyst-classes .business-analyst .description .price p#number {
    font-size: 10pt;
    text-align: center;
    color:#ec2e2e;
}
.business-analyst-classes .business-analyst .details {
    margin-top: 5%;
    background: #0dbfff;
    padding: 10% 30%;
}
.business-analyst-classes .business-analyst .details p#details {
    font-size: 16pt;
    margin-left: 20%;
}
.business-analyst-classes .business-analyst .details p#details a {
    color: white;
    text-decoration: none;
}
.business-analyst-classes .business-analyst:hover {
    border:2.5px solid #ec2e2e;
    cursor: pointer;
}
.business-analyst-classes .business-analyst:hover > .image {
    border-bottom: 3px solid #ec2e2e;
}
.business-analyst-classes .business-analyst:hover > .details {
    background: #ec2e2e;
}